* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto, sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  width: 90%;
  max-width: 1280px;
  margin: 0 auto;
}

.section {
  padding: 100px 0;
}

header,
footer {
  background-color: #1f2937;
  padding: 16px;
}

header .container {
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  font-size: 24px;
  color: #f9faf8;
}

ul {
  list-style: none;
  display: flex;
  gap: 24px;
}

ul li a {
  text-decoration: none;
  font-size: 18px;
  color: #e5e7eb;
}

main {
  flex: 1;
}

.hero {
  background-color: #1f2937;
}

.hero .container {
  display: flex;
  align-items: center;
  gap: 50px;
}

.hero-text,
.hero-image {
  flex: 1;
}

.hero-text h1 {
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
  margin-bottom: 5px;
}

.hero-text p {
  font-size: 18px;
  color: #d7d7d7;
  margin-bottom: 20px;
}

.hero-text button {
  background-color: #3882f6;
  padding: 6px 24px;
  border: none;
  border-radius: 5px;
  color: #f9faf8;
  cursor: pointer;
}

.hero img {
  width: 100%;
  border-radius: 5px;
}

/* recipes */

.recipes {
  text-align: center;
}

.recipes h2 {
  font-size: 36px;
  color: #1f2937;
  font-weight: 900;
  margin-bottom: 50px;
}

.card-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

.card {
  width: 250px;
  border-radius: 10px;
}

.card img {
  width: 100%;
  border-radius: 10px;
}

.card-content {
  padding: 5px 5px 15px;
}

.card-content h4 {
  font-size: 20px;
  margin: 5px 0;
}

.card-content p {
  color: #444;
}

/* testimonials */
.testimonial {
  background-color: #e5e7eb;
}

.testimonial .quote {
  font-size: 36px;
  font-style: italic;
  font-weight: 300;
  color: #1f2937;
  margin-bottom: 10px;
}

.testimonial .user {
  text-align: right;
  /* font-weight: 700; */
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
